mixin footer()
	footer.footer.section
		.footer__bg(aria-hidden="true")

		.container
			.footer__top
				.row
					.col-12.col-xl-6.order-xl-last
						.expert-block
							.expert-block__content
								.headline.headline_style2.expert-block__title
									h2 Хочешь стать экспертом Rabby?

								.description.expert-block__descr
									| Ясность нашей позиции очевидна: высокотехнологичная концепция общественного уклада играет определяющее.

								a.btn.btn_default.btn_wi.btn_white_violet(href="javascript: void(0);")
									span.btn__text Стать экспертом

									span.btn__icon.svg-icon(aria-hidden="true")
										<svg class="svg" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-angle-right"></use></svg>

							.expert-block__img
								img(src="images/content/expert.png" alt="")

					.col-12.col-xl-6
						.row
							.col-12.col-lg-4
								.headline.headline_style4.footer__title
									h3 Каталог

								ul.list.list_unstyled.footer__nav.footer__nav_catalog
									li.list-item
										a.nav-link(href="javascript: void(0);") Вакуумные помпы

									li.list-item
										a.nav-link(href="javascript: void(0);") Лубриканты
										
									li.list-item
										a.nav-link(href="javascript: void(0);") БДСМ
										
									li.list-item
										a.nav-link(href="javascript: void(0);") Вибраторы
										
									li.list-item
										a.nav-link(href="javascript: void(0);") Анальные бусы
										
									li.list-item
										a.nav-link(href="javascript: void(0);") Мастурбаторы
										
									li.list-item
										a.nav-link(href="javascript: void(0);") Фаллоимитаторы
										
									li.list-item
										a.nav-link(href="javascript: void(0);") Вибропули
										
									li.list-item
										a.nav-link(href="javascript: void(0);") Анальные пробки
										
									li.list-item
										a.nav-link(href="javascript: void(0);") Эрекционные кольца
										
									li.list-item
										a.nav-link(href="javascript: void(0);") Массажные масла
										
									li.list-item
										a.nav-link(href="javascript: void(0);") Разное

							.col-12.col-lg-8
								.row
									.col-6
										.headline.headline_style4.footer__title
											h3 Секс-просвет

										ul.list.list_unstyled.footer__nav
											li.list-item
												a.nav-link(href="javascript: void(0);") Тест-драйвы

											li.list-item
												a.nav-link(href="javascript: void(0);") Есть вопрос
												
											li.list-item
												a.nav-link(href="javascript: void(0);") Блог

											li.list-item
												a.nav-link(href="javascript: void(0);") Гайды
												
											li.list-item
												a.nav-link(href="javascript: void(0);") Тесты

											li.list-item
												a.nav-link(href="javascript: void(0);") Rabby-словарь

									.col-6
										.headline.headline_style4.footer__title
											h3 Сотрудничество

										ul.list.list_unstyled.footer__nav
											li.list-item
												a.nav-link(href="javascript: void(0);") Экспертам

											li.list-item
												a.nav-link(href="javascript: void(0);") Блогерам
												
											li.list-item.disable-elem
												.nav-link Оптовикам
												//- a.nav-link.disable-link(href="javascript: void(0);") Оптовикам

									.col-12.align-self-end
										.headline.headline_style4.footer__title
											h3 Наши соцсети

										ul.list.list_unstyled.socials-list
											li.list-item
												a.socials-link.svg-icon(href="javascript: void(0);" target="_blank" rel="noopener nofollow" aria-label="Instagram")
													<svg class="svg" role="img" aria-hidden="true" width="40" height="40"><use xlink:href="#svg-icon-instagram"></use></svg>

											li.list-item
												a.socials-link.svg-icon(href="javascript: void(0);" target="_blank" rel="noopener nofollow" aria-label="Youtube")
													<svg class="svg" role="img" aria-hidden="true" width="40" height="40"><use xlink:href="#svg-icon-youtube"></use></svg>

			.footer__bottom
				.row.align-items-center
					.col-12.col-md-4
						.footer__docs
							ul.list.list_unstyled.docs-list
								li.list-item
									a.link(href="/rabby/privacy-policy.html") Политика конфиденциальности

								li.list-item
									a.link(href="/rabby/terms-of-use.html") Пользовательское соглашение

					.col-12.col-md-4
						.footer__copy Rabby Copyright 2021


					.col-12.col-md-4
						.footer__dev
							span.dev-text Сделано в

							a.dev-link(href="https://egorovagency.by/" target="_blank") 
								span.dev-link__text Egorov Agency

								span.dev-link__icon.svg-icon(aria-hidden="true")
									<svg class="svg" role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-logo-ea"></use></svg>