mixin inner-scrolled-nav()
	.inner-scrolled-nav.js-scrolled-nav
		ul.list.list_unstyled.nav-list.horizontal-scroll
			li.list-item
				a.link.active(href="javascript: void(0);") Анальный секс

			li.list-item
				a.link(href="javascript: void(0);") Оральный секс

			li.list-item
				a.link(href="javascript: void(0);") Игрушки

			li.list-item
				a.link(href="javascript: void(0);") Все категории