mixin main-catalog()
	section.section.section_main-catalog#catalog
		.container
			.headline.headline_style1
				h2 Каталог

			.section__content
				a.grid-card.grid-card-1(href="javascript: void(0);")
					.grid-card__image(aria-hidden="true")
						picture
							img(src="./images/content/main-page/catalog/img_1.png", alt="" width="0" height="0")

					.grid-card__desc
						.grid-card__title Вибраторы

						.grid-card__counter 80 товаров

				a.grid-card.grid-card-2(href="javascript: void(0);")
					.grid-card__image(aria-hidden="true")
						picture
							img(src="./images/content/main-page/catalog/img_2.png", alt="" width="0" height="0")

					.grid-card__desc
						.grid-card__title Анальные пробки

						.grid-card__counter 80 товаров

				a.grid-card.grid-card-3(href="javascript: void(0);")
					.grid-card__image(aria-hidden="true")
						picture
							img(src="./images/content/main-page/catalog/img_3.png", alt="" width="0" height="0")

					.grid-card__desc
						.grid-card__title Мастурбаторы

						.grid-card__counter 80 товаров

				a.grid-card.grid-card-4(href="javascript: void(0);")
					.grid-card__image(aria-hidden="true")
						picture
							img(src="./images/content/main-page/catalog/img_4.png", alt="" width="0" height="0")

					.grid-card__desc
						.grid-card__title Фаллоимитаторы

						.grid-card__counter 80 товаров

				a.grid-card.grid-card-5(href="javascript: void(0);")
					.grid-card__image(aria-hidden="true")
						picture
							img(src="./images/content/main-page/catalog/img_5.png", alt="" width="0" height="0")

					.grid-card__desc
						.grid-card__title Лубриканты

						.grid-card__counter 80 товаров

				a.grid-button.grid-button_blue.grid-button-1(href="javascript: void(0);")
					.grid-button__icon(aria-hidden="true")
						span(class="svg-icon btn__icon btn__icon_close", aria-hidden="true")
							svg.svg(role="img", aria-hidden="true", width="50", height="50")
								use(xlink:href="#svg-icon-man")

					.grid-button__desc
						.grid-button__title Для него

						.grid-button__counter 80 товаров

					.grid-button__arrow.svg-icon
						svg.svg(role="img" aria-hidden="true" width="24" height="24")
							use(xlink:href="#svg-icon-angle-right")

				a.grid-button.grid-button_red.grid-button-2(href="javascript: void(0);")
					.grid-button__icon(aria-hidden="true")
						span(class="svg-icon btn__icon btn__icon_close", aria-hidden="true")
							svg.svg(role="img", aria-hidden="true", width="50", height="50")
								use(xlink:href="#svg-icon-woman")

					.grid-button__desc
						.grid-button__title Для нее

						.grid-button__counter 80 товаров

					.grid-button__arrow.svg-icon
						svg.svg(role="img" aria-hidden="true" width="24" height="24")
							use(xlink:href="#svg-icon-angle-right")

				a.grid-button.grid-button_purple.grid-button-3(href="javascript: void(0);")
					.grid-button__icon(aria-hidden="true")
						span(class="svg-icon btn__icon btn__icon_close", aria-hidden="true")
							svg.svg(role="img", aria-hidden="true", width="50", height="50")
								use(xlink:href="#svg-icon-pair")

					.grid-button__desc
						.grid-button__title Для пары

						.grid-button__counter 80 товаров

					.grid-button__arrow.svg-icon
						svg.svg(role="img" aria-hidden="true" width="24" height="24")
							use(xlink:href="#svg-icon-angle-right")

				a.grid-button.grid-button_violet.grid-button-4(href="javascript: void(0);")
					.grid-button__icon(aria-hidden="true")
						span(class="svg-icon btn__icon btn__icon_close", aria-hidden="true")
							svg.svg(role="img", aria-hidden="true", width="50", height="50")
								use(xlink:href="#svg-icon-gift")

					.grid-button__desc
						.grid-button__title В подарок

						.grid-button__counter 80 товаров

					.grid-button__arrow.svg-icon
						svg.svg(role="img" aria-hidden="true" width="24" height="24")
							use(xlink:href="#svg-icon-angle-right")

			.section__footer
				a.btn.btn_default.btn_wi.btn_transparent(href="javascript: void(0);")
					span.btn__text Все категории

					span.btn__icon.svg-icon(aria-hidden="true")
						svg.svg(role="img", aria-hidden="true", width="24", height="24")
							use(xlink:href="#svg-icon-angle-right")