mixin main-popular()
	section.section.section_main-popular#popular
		.section__bg#section_main-popular(aria-hidden="true")

		.section__content

			.headline.headline_style1
				h2 Выбор покупателей

			.section__slider.swiper-container.js-popular-slider
				.swiper-wrapper
					.swiper-slide
						.popular-card

							.popular-card__img
								.popular-card__bg
									.popular-card__bg-blot
										img(src='images/backgrounds/popular-card-bg.svg' width="0" height="0")

									.popular-card__bg-elipse.popular-card__bg-elipse-1

									.popular-card__bg-elipse.popular-card__bg-elipse-2

									.popular-card__bg-elipse.popular-card__bg-elipse-3
								a.popular-card__img-link(href="#")
									img(src="images/content/main-page/popular/img_1.png" width="0" height="0")

							.popular-card__desc
								.popular-card__title.headline.headline_style4
									h3 Замечательный кролик

								.popular-card__category Вибраторы

								.popular-card__article Ясность нашей позиции очевидна: высокотехнологичная концепция общественного уклада играет определяющее значение для направлений прогрессивного развития. Общественного уклада играет определяющее значение для направлений прогрессивного развития.

								a.popular-card__link.btn.btn_default.btn_wi.btn_transparent(href="#")
									span.btn__text Смотреть товар

									span.btn__icon.svg-icon(aria-hidden="true")
										svg.svg(role="img", aria-hidden="true", width="24", height="24")
											use(xlink:href="#svg-icon-angle-right")

					.swiper-slide
						.popular-card

							.popular-card__img
								.popular-card__bg
									.popular-card__bg-blot
										img(src='images/backgrounds/popular-card-bg.svg' width="0" height="0")

									.popular-card__bg-elipse.popular-card__bg-elipse-1

									.popular-card__bg-elipse.popular-card__bg-elipse-2

									.popular-card__bg-elipse.popular-card__bg-elipse-3
								a.popular-card__img-link(href="#")
									img(src="images/content/main-page/popular/img_2.png" width="0" height="0")

							.popular-card__desc
								.popular-card__title.headline.headline_style4
									h3 Замечательный кролик

								.popular-card__category Вибраторы

								.popular-card__article Ясность нашей позиции очевидна: высокотехнологичная концепция общественного уклада играет определяющее значение для направлений прогрессивного развития.

								a.popular-card__link.btn.btn_default.btn_wi.btn_transparent(href="#")
									span.btn__text Смотреть товар

									span.btn__icon.svg-icon(aria-hidden="true")
										svg.svg(role="img", aria-hidden="true", width="24", height="24")
											use(xlink:href="#svg-icon-angle-right")

					.swiper-slide
						.popular-card

							.popular-card__img
								.popular-card__bg
									.popular-card__bg-blot
										img(src='images/backgrounds/popular-card-bg.svg' width="0" height="0")

									.popular-card__bg-elipse.popular-card__bg-elipse-1

									.popular-card__bg-elipse.popular-card__bg-elipse-2

									.popular-card__bg-elipse.popular-card__bg-elipse-3
								a.popular-card__img-link(href="#")
									img(src="images/content/main-page/popular/img_3.png" width="0" height="0")

							.popular-card__desc
								.popular-card__title.headline.headline_style4
									h3 Замечательный кролик

								.popular-card__category Вибраторы
								
								.popular-card__article Ясность нашей позиции очевидна: высокотехнологичная концепция общественного уклада играет определяющее значение для направлений прогрессивного развития.
								
								a.popular-card__link.btn.btn_default.btn_wi.btn_transparent(href="#")
									span.btn__text Смотреть товар

									span.btn__icon.svg-icon(aria-hidden="true")
										svg.svg(role="img", aria-hidden="true", width="24", height="24")
											use(xlink:href="#svg-icon-angle-right")

					.swiper-slide
						.popular-card

							.popular-card__img
								.popular-card__bg
									.popular-card__bg-blot
										img(src='images/backgrounds/popular-card-bg.svg' width="0" height="0")

									.popular-card__bg-elipse.popular-card__bg-elipse-1

									.popular-card__bg-elipse.popular-card__bg-elipse-2

									.popular-card__bg-elipse.popular-card__bg-elipse-3
								a.popular-card__img-link(href="#")
									img(src="images/content/main-page/popular/img_2.png" width="0" height="0")

							.popular-card__desc
								.popular-card__title.headline.headline_style4
									h3 Замечательный кролик

								.popular-card__category Вибраторы

								.popular-card__article Ясность нашей позиции очевидна: высокотехнологичная концепция общественного уклада играет определяющее значение для направлений прогрессивного развития.

								a.popular-card__link.btn.btn_default.btn_wi.btn_transparent(href="#")
									span.btn__text Смотреть товар

									span.btn__icon.svg-icon(aria-hidden="true")
										svg.svg(role="img", aria-hidden="true", width="24", height="24")
											use(xlink:href="#svg-icon-angle-right")

				.swiper-nav
					button.swiper-button-prev.svg-icon(type="button", aria-label="Предыдущий слайд")
						<svg class="svg" role="img" aria-hidden="true" width="32" height="32"><use xlink:href="#svg-icon-angle-right"></use></svg>

					button.swiper-button-next.svg-icon(type="button", aria-label="Следующий слайд")
						<svg class="svg" role="img" aria-hidden="true" width="32" height="32"><use xlink:href="#svg-icon-angle-right"></use></svg>

					.swiper-pagination
