mixin main-questions(data)
	section.section.section_main-questions#questions(class=data.class)
		.section__bg#section__bg-questions(aria-hidden="true")

		.section__content
			.container
				.row.align-items-center.justify-content-center
					.col-12.col-xl-6
						.section__main
							.headline.headline_style1.headline_main
								h2 Вопросы

							.description.description_main Ясность нашей позиции очевидна: высокотехнологичная концепция общественного уклада играет определяющее значение для направлений прогрессивного развития.

							+inner-scrolled-nav

							.section__control
								a.btn.btn_default.btn_pink.btn_wi(href="javascript: void(0);")
									span.btn__text Задать вопрос

									span.btn__icon.svg-icon(aria-hidden="true")
										<svg class="svg" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-question-circle"></use></svg>
										
								a.btn.btn_default.btn_transparent.btn_wi(href="javascript: void(0);")
									span.btn__text Все вопросы

									span.btn__icon.svg-icon(aria-hidden="true")
										<svg class="svg" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-angle-right"></use></svg>

							.section__img
								img(src="images/svg/illustrations/main-questions-img.svg" alt="" width="0" height="0")

					.col-12.col-xl-6
						.section__slider.swiper-container.js-two-slide-slider
							.swiper-wrapper
								.swiper-slide
									.card
										.card__header
											.card__category Анальный секс

										.card__body
											a.headline.card__subtitle(href="javascript: void(0);")
												h3 Известно ли работникам почты о том, что находится внутри посылки из вашего интернет-магазина? И не может ли посылка вскрываться для проверки?

										.card__footer
											.card__statistics
												ul.list.list_unstyled.statistics-list
													li.list-item
														button.statistics-icon.svg-icon.js-btn-like(type="button")
															<svg class="svg" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart"></use></svg>

															<svg class="svg svg-fill" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart-fill"></use></svg>

														.statistics-text 367

													li.list-item
														.btn.statistics-icon.svg-icon
															<svg class="svg" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-comment"></use></svg>

														.statistics-text 29

											.card__control
												a.btn.btn_pink.btn_wi.btn_card(href="javascript: void(0);")
													span.btn__text Смотреть ответ

													span.btn__icon.svg-icon(aria-hidden="true")
														<svg class="svg" role="img" aria-hidden="true" width="14" height="14"><use xlink:href="#svg-icon-angle-right"></use></svg>
								.swiper-slide
									.card
										.card__header
											.card__category Анальный секс

										.card__body
											a.headline.card__subtitle(href="javascript: void(0);")
												h3 Известно ли работникам почты о том, что находится внутри посылки из вашего интернет-магазина? И не может ли посылка вскрываться для проверки?

										.card__footer
											.card__statistics
												ul.list.list_unstyled.statistics-list
													li.list-item
														button.statistics-icon.svg-icon.js-btn-like(type="button")
															<svg class="svg" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart"></use></svg>

															<svg class="svg svg-fill" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart-fill"></use></svg>

														.statistics-text 367

													li.list-item
														.btn.statistics-icon.svg-icon
															<svg class="svg" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-comment"></use></svg>

														.statistics-text 29

											.card__control
												a.btn.btn_pink.btn_wi.btn_card(href="javascript: void(0);")
													span.btn__text Смотреть ответ

													span.btn__icon.svg-icon(aria-hidden="true")
														<svg class="svg" role="img" aria-hidden="true" width="14" height="14"><use xlink:href="#svg-icon-angle-right"></use></svg>
	
								.swiper-slide
									.card
										.card__header
											.card__category Игрушки

										.card__body
											a.headline.card__subtitle(href="javascript: void(0);")
												h3 Можно ли эякулировать непосредственно в насадку для члена?

										.card__footer
											.card__statistics
												ul.list.list_unstyled.statistics-list
													li.list-item
														button.statistics-icon.svg-icon.js-btn-like(type="button")
															<svg class="svg" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart"></use></svg>

															<svg class="svg svg-fill" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart-fill"></use></svg>

														.statistics-text 367

													li.list-item
														.btn.statistics-icon.svg-icon
															<svg class="svg" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-comment"></use></svg>

														.statistics-text 29

											.card__control
												a.btn.btn_pink.btn_wi.btn_card(href="javascript: void(0);")
													span.btn__text Смотреть ответ

													span.btn__icon.svg-icon(aria-hidden="true")
														<svg class="svg" role="img" aria-hidden="true" width="14" height="14"><use xlink:href="#svg-icon-angle-right"></use></svg>

							.swiper-nav
								button.swiper-button-prev.svg-icon(type="button" aria-label="Предыдущий слайд")
									<svg class="svg" role="img" aria-hidden="true" width="32" height="32"><use xlink:href="#svg-icon-angle-right"></use></svg>

								button.swiper-button-next.svg-icon(type="button" aria-label="Следующий слайд")
									<svg class="svg" role="img" aria-hidden="true" width="32" height="32"><use xlink:href="#svg-icon-angle-right"></use></svg>

								.swiper-pagination