.glossary-card {
	position: relative;
	padding-left: 170px;
	display: block;
	min-height: 200px;
	height: 100%;
	background-color: @color-white;
	border-radius: 35px;
	box-shadow: 0px 10px 50px rgba(59, 61, 75, 0.07);
	overflow: hidden;

	&__letter {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		padding: 60px 40px 60px 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 170px;
		color: @color-white;
		.bg-img(right center, auto);
		background-image: url("@{globalUrlImage}/images/backgrounds/glossary-card-bg.svg");
		font-weight: bold;
		font-size: 100px;
		line-height: 1;
		text-align: center;
	}

	&__content {
		padding: 30px;
	}

	&__title {
		margin-bottom: 5px;
		word-break: break-word;

		@media (min-width: 1550px) {
			font-size: 36px;
		}
	}

	&__note {
		color: @color-black_40;
		font-weight: 500;
		font-size: 14px;
		line-height: 1;
	}

	&__descr {
		margin-top: 20px;
		color: @color-black_80;
		font-weight: 500;
		overflow: hidden;
	}

	&__link {
		margin-top: 100px;
	}

	@media (max-width: 1799px) {
		&__content {
			padding: 25px 20px;
		}

		&__descr {
			margin-top: 15px;
			font-size: 16px;
		}

		&__link {
			margin-top: 50px;
		}
	}

	@media (max-width: 767px) {
		&__link {
			margin-top: 40px;
		}
	}

	@media (max-width: 575px) {
		padding-left: 0;
		padding-top: 80px;

		&__letter {
			bottom: auto;
			right: 0;
			padding: 20px 20px 10px;
			height: 60px;
			width: 100%;
			justify-content: flex-start;
			.bg-img(left -50px bottom, auto);
			background-image: url("@{globalUrlImage}/images/backgrounds/glossary-card-bg-mobile.svg");
			font-size: 30px;
			text-align: left;
		}

		&__content {
			padding: 0 20px 25px;
		}

		&__title {
			font-size: 20px;
		}

		&__descr {
			margin-top: 10px;
		}
	}
}
