-
    var testData = {
        title: 'Какая игрушка подходит именно тебе?',
        desc: 'Ясность нашей позиции очевидна: высокотехнологичная концепция общественного уклада играет определяющее значение для направлений прогрессивного развития.',
        img: 'images/content/photos/img-1.png',
        statistics: {
            likes: 323
        }
    };

    var testDataFinish = {
        title: 'Твой выбор - Вибратор Lure Me',
        desc: 'Вау, да ты уверенный авантюрист в вопросах секса. Думаем, тебе бы пригодился вот такой набор бдсм - легкая плетка еще никому не мешала. А для соло-игр или игр с партнером, советуем вибратор-кролик и наш лубрикант.',
        img: 'images/content/photos/img-1.png',
    };

    var listRecommendation = [
        {
            title: 'Вибропуля до 11см',
            desc: 'Значимость этих проблем настолько, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов).'
        },
        {
            title: 'Вибропуля до 12см',
            desc: 'Значимость этих проблем настолько, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов).'
        },
        {
            title: 'Вибропуля до 13см',
            desc: 'Значимость этих проблем настолько, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов).'
        },
        {
            title: 'Вибропуля до 14см',
            desc: 'Значимость этих проблем настолько, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов).'
        },
    ];

    var exampleDataSteps = [
        {   
            id: 1,
            title: 'Ты больше консерватор или любишь эксперементировать? 1',
            img: 'images/content/photos/img-1.png',
            list: [
                {
                    id: 1,
                    name: 'Люблю эксперименты, яркие цвета и вообще за любые приключения',
                    disabled: false,
                    checked: true,

                },
                {
                    id: 2,
                    name: '50 на 50, зависит от ситуации',
                    disabled: false,
                    checked: false,

                },
                {
                    id: 3,
                    name: 'О нет, авантюры - это не про меня',
                    disabled: false,
                    checked: false,
                }
            ]
        },
        {
            id: 2,
            title: 'Ты больше консерватор или любишь эксперементировать? 2',
            img: 'images/content/photos/img-2.png',
            list: [
                {
                    id: 1,
                    name: 'Люблю эксперименты, яркие цвета и вообще за любые приключения',
                    disabled: false,
                    checked: true,

                },
                {
                    id: 2,
                    name: '50 на 50, зависит от ситуации',
                    disabled: false,
                    checked: false,

                },
                {
                    id: 3,
                    name: 'О нет, авантюры - это не про меня',
                    disabled: false,
                    checked: false,

                }
            ]
        },
        {
            id: 3,
            title: 'Ты больше консерватор или любишь эксперементировать? 3',
            img: 'images/content/photos/img-3.png',
            list: [
                {
                    id: 1,
                    name: 'Люблю эксперименты, яркие цвета и вообще за любые приключения',
                    disabled: false,
                    checked: true,

                },
                {
                    id: 2,
                    name: '50 на 50, зависит от ситуации',
                    disabled: false,
                    checked: false,

                },
                {
                    id: 3,
                    name: 'О нет, авантюры - это не про меня',
                    disabled: false,
                    checked: false,

                }
            ]
        }
    ];